:root {
    --fundo: #070B34;
    --card: #15183C;
    --detalhe: #1C1F4A;
    --azul: #5C6CFF;
    --texto: #FFFFFF;
}

* { box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: sans-serif; }

body { 
    background-color: var(--fundo); 
    color: var(--texto); 
    padding-bottom: 2rem; }

header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 10%; 
    border-bottom: 1px solid var(--detalhe);
}

main { 
    width: 90%; 
    max-width: 1100px; 
    margin: 0 auto; }

h1 { text-align: center;
     margin: 2rem 0; 
     font-size: 1.8rem; }


.search { 
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    margin-bottom: 2rem; }

.search input { 
    padding: 10px; 
    border-radius: 8px; 
    border: none; 
    background: var(--detalhe); 
    color: white; 
    width: 60%; 
}
.search button { 
    padding: 10px 20px; 
    border-radius: 8px; 
    border: none; 
    background: var(--azul); 
    color: white; 
}

.weather-container { 
    display: flex; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.weather-left { 
    flex: 2; 
    min-width: 300px; 
    display: flex; 
    flex-direction: column; 
    gap: 20px; }

.weather-right { 
    flex: 1; 
    min-width: 250px; 
    background: var(--card); 
    padding: 20px; 
    border-radius: 15px; 
}


.current-weather {
    background: var(--azul);
    padding: 30px; 
    border-radius: 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.temp-grande { 
    font-size: 4rem; 
    font-weight: bold; }


.stats, .daily { 
    display: flex; 
    gap: 10px; 
    flex-wrap: wrap; }


.stats div, .daily div {
    background: 
    var(--card); 
    padding: 15px; 
    border-radius: 10px; 
    flex: 1; 
    min-width: 80px; 
    text-align: center;
}

.daily-box { 
    background: var(--card); 
    padding: 20px; 
    border-radius: 15px; }

.daily div { 
    background: var(--detalhe); }


.hourly-forecast { 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    margin-top: 15px; }


.hourly-forecast div {
    background: var(--detalhe); 
    padding: 12px; 
    border-radius: 10px; 
    display: flex; 
    justify-content: space-between;
}

@media (max-width: 600px) {
    .search input { 
        width: 100%; 
    }
    .current-weather { 
        flex-direction: column; 
        text-align: center; 
        gap: 20px; 
    }
    .temp-grande { 
        font-size: 3rem; 
    }
    .stats div { 
        width: 45%; 
        flex: none; 
    } 
    .daily {
        display: flex;
        flex-direction: column;
    }
}